<%- include header.ejs %>
<%- include left_nav.ejs %>

 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>Project Management</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/admin/articles" class="actionBtn">Project Lists</a>Add New</h3>
    <form action="article.php?rec=insert" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="90" align="right">Project name</td>
       <td>
        <input size="50" type="text" name="title" value="" size="80" class="inpMain" />
       </td>
      </tr>
      <tr>
        <td width="90" align="right">Project leader</td>
        <td>
         <input size="50" type="text" name="leader" value="" size="80" class="inpMain" />
        </td>
       </tr>
      <!-- <tr>
       <td align="right">客户星级</td>
       <td>
        <select name="cat_id">
            <option value="0">未分类</option>
            <% for(var j=0;j<categoryA.length;j++){ %>
            <option  value='<%= categoryA[j]._id %>'><%= categoryA[j].cat_name %></option>
            <% } %>
         </select>
       </td>
      </tr> -->
      <tr>
         <td align="right">Target groups</td>
         <td>
            <input type="address" name="address" value="" size="50" class="inpMain" />
         </td>
      </tr>
      <tr>
         <td align="right">Email</td>
         <td>
            <input type="tel" name="tel" value="" size="50" class="inpMain" />
         </td>
      </tr>
      <tr>
          <td align="right">Project Brief</td>
          <td>
            <textarea name="description"  cols="60" rows="4" class="textArea"></textarea>
          </td>
          </td>
      </tr>
      <tr>
        <td align="right">Cooperative Customer</td>
        <td>
            <input type="cooperativeCustomer" name="cooperativeCustomer" value="" size="50" class="inpMain" />
        </td>
        </tr>
        <tr>
            <td align="right">Customer Brief</td>
            <td>
            <textarea name="customerBrief"  cols="60" rows="4" class="textArea"></textarea>
            </td>
            </td>
        </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="7e4a88fb" />
        <input type="hidden" name="image" value="">
        <input type="hidden" name="id" value="">
        <input id="submit" name="submit" class="btn" type="button" value="Submit" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
 <script type="text/javascript">
 
 onload = function()
 {
   document.forms['action'].reset();
 }

 function douAction()
 {
     var frm = document.forms['action'];

     frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
 }
// $(function () {

     $('#submit').click(function () {
         $.ajax({
             url: '/admin/articlesAdd',
             type: 'POST',
             data: $('form').serialize(),
             success: function (res) {
                 console.log('res', res)
                 if(res.status == 0){
                     location.href='/admin/articles';
                 }else{
                     alert(res.msg)
                 }
             },
             error: function (err) {
                 throw err;
             }
         })
     })
// })
 </script>
<%- include footer.ejs %>