<%- include header.ejs %>
<%- include left_nav.ejs %>
 <div id="dcMain">
    
<div id="urHere">West Ham United Foundation Project Management System<b>></b><strong>Project Management</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/articlesAdd" class="actionBtn add">Add New</a>Project Management</h3>
    <div class="filter">
    <form  method="post" id="sel-form">
     <select name="cat_id" id="sel">
        <option value="0" >Choose</option>
        <% for(var j=0;j<articles.length;j++){ %>
        <option  value='<%= articles[j].leader %>'><%= articles[j].leader %></option>
        <% } %>
     </select>
     <input id="select" class="btnGray" type="submit" value="By person in charge" />

     <select name="cat_id" id="selGroup">
        <option value="0">Choose</option>
        <% for(var j=0;j<articles.length;j++){ %>
        <option  value='<%= articles[j].leader %>'><%= articles[j].address %></option>
        <% } %>
        </select>
     <!-- <input name="filter" id="filter" type="text" class="inpMain" value="" size="20" /> -->
     <input id="selectGroup" class="btnGray" type="submit" value="According to the group" />
    </form>
    </div>
        <div id="list">
    <form name="action" method="post" >
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic" id="table">
     <tr>
      <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
      <th width="40" align="center">ID</th>
      <th width="80" align="center">Project name</th>
      <th width="80" align="center">Project leader</th>
      <th width="120" align="center">Target groups</th>
      <th width="100" align="center">Email</th>
      <th width="200" align="center">Project Brief</th>
      <th  width="80"align="center">Cooperative Customer</th>
      <th align="center">Customer Brief</th>
      <th width="80" align="center">Add Date</th>
      <th width="30" align="center">Operation</th>
     </tr>
        <tbody id="wrap">
        <% for(var i=0;i<articles.length;i++){ %>
        <tr class="info">
            <td align="center">
                <input type="checkbox" name="show" value="10" />
                <input id="_id" name="_id" type="hidden" value="<%= articles[i]._id %>" />
            </td>
            <td><a href=""><%= i+1 %></a></td>
            <td align="center"><%= articles[i].title %></td>
            <td align="center"><%= articles[i].leader %></td>
            <td align="center"><%= articles[i].address %></td>
            <td align="center"><%= articles[i].tel %></td>
            <td align="center"><%= articles[i].description %></td>
            <td align="center"><%= articles[i].cooperativeCustomer  %></td>
            <td align="center"><%= articles[i].customerBrief %></td>
            <td align="center"><%= articles[i].create_date %></td>
            <td align="center">
                <a href="/admin/Adelete/?title=<%= articles[i].title %>">Delete</a>
            </td>
        </tr>
        <% } %>
        </tbody>
     </table>
    <div class="action">
     <select name="action" onchange="douAction()">
      <option value="0">Other Operating</option>
      <option value="del_all">Delete multiple</option>
      <option value="category_move">Replacement person in charge</option>
     </select>
     <select id="MoveType" name="new_cat_id" style="display:none">
         <% for(var j=0;j<articles.length;j++){ %>
         <option  value='<%= articles[j]._id %>'><%= articles[j].leader %></option>
         <% } %>
     </select>
     <input id="submit" name="submit" class="btn" type="button" value="run" />
    </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">
        <% for(k=0;k<(Math.ceil(n/5));k++){ %>
        <a href="/admin/articles?start=<%= (k*5) %>"><%= k+1 %></a>
        <% } %>
    </div>           </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
 <script type="text/javascript">
 
 onload = function()
 {
   document.forms['action'].reset();
 }

 function douAction()
 {
     var frm = document.forms['action'];

     frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
 }
 $(function () {

     $('#sel-form').on('submit', function (e) {
         e.preventDefault();
         $.ajax({
             url: '/admin/Asearch',
             type: 'POST',
             data: {
                sel: $('#sel').val(),
                selGroup: $('#selGroup').val()
             },
             success: function (res) {
                 var str = '';
                 $.each(res.data, function (index, item) {
                     str += "<tr><td align='center'><input type='checkbox' name='checkbox[]' value='' /><input id='_id' name='_id' type='hidden' value="+item._id +"/></td> " +
                             "<td><a> " + (index + 1) + "</a></td> " +
                             "<td align='center'> " + item.title + "</td> " +
                             "<td align='center'> " + item.leader + "</td> " +
                             "<td align='center'> " + item.address + "</td> " +
                             "<td align='center'> " + item.tel + "</td> " +
                             "<td align='center'> " + item.description + "</td> " +
                             "<td align='center'> " + item.cooperativeCustomer + "</td> " +
                             "<td align='center'>" + item.customerBrief + '</td>' +
                             "<td align='center'> " + item.create_date + "</td> " +
                             "<td align='center'><a href='/admin/Aedit/?_id= '+res.data[index]._id >编辑</a> | <a href='/admin/Pdelete/?name= '+ res.data[index].name>删除</a> </td></tr>"
                 })
                 $("#wrap").html(str);

             }
         })
     })

     $("#submit").click(function () {
         if ($('.action select').val() == "del_all") {
             let checked = $("#table .info input:checked").parent().next().next();//得到每个选中框的title所对应的td标签
             let arr = [];
             $.each(checked, function (index, item) {//进行遍历得到title
                 arr.push(item.textContent);
             })
             var str = arr.join(",");
             $.ajax({
                 url: '/admin/AllDelete',
                 type: 'POST',
                 data: {
                     arrDel: str
                 },
                 success: function (res) {
                     if(res.status == 0){
                         location.href='/admin/articles';
                     }else{
                         alert(res.msg)
                     }
                 },
                 error: function (err) {
                     throw err;
                 }
             })

         }else if($('.action select').val() == "category_move"){
            let ids=$("#table .info input:checked").next();//得到每个选中框的兄弟元素input
            let arrID=[];
            let type=$("#MoveType").val();//得到要移动到的分类cat_id
             console.log("t:"+type)
             $.each(ids, function (index, item) {//对选中框进行遍历，得到它们的id
                 arrID.push(item.value)
             })
             var strID = arrID.join(",");
             $.ajax({
                 url: '/admin/MoveType',
                 type: 'POST',
                 data: {
                     strID: strID,//选中框的_id
                     type:type//选择的分类
                 },
                 success: function (res) {
                     if(res.status == 0){
                         location.href='/admin/articles';
                     }else{
                         alert(res.msg)
                     }
                 },
                 error: function (err) {
                     throw err;
                 }
             })
         }
     })
 })
 </script>
<%- include footer.ejs %>