<%- include header.ejs %>
<%- include left_nav.ejs %>
 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>Project Feedback</strong> </div>
  <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
      <h3><a href="/admin/categoryA" class="actionBtn">Project Feedback</a>Add New</h3>
    <form action="article_category.php?rec=insert" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">Project leader</td>
       <td>
        <!-- <input type="text" name="cat_name" value="" size="40" class="inpMain"  /> -->
        <select name="cat_name">
          <option value="0">-Choose-</option>
          <% for(var i=0;i<articles.length;i++){ %>
          <option  value='<%= articles[i]._id %>'><%= articles[i].leader %></option>
          <% } %>
        </select>
      </td>
      </tr>
      <tr>
       <td align="right">Project name</td>
       <td>
        <!-- <input type="text" name="unique_id" value="" size="40" class="inpMain" /> -->
        <select name="unique_id">
          <option value="0">-Choose-</option>
          <% for(var j=0;j<articles.length;j++){ %>
          <option value='<%= articles[j]._id %>'><%= articles[j].title %></option>
          <% } %>
        </select>
      </td>
      </tr>
      <tr>
       <td align="right">Progress description</td>
       <td>
        <textarea name="description" cols="60" rows="4" class="textArea"></textarea>
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="25bfda40" />
        <input type="hidden" name="cat_id" value="" />
        <input id="submit" name="submit" class="btn" type="button" value="Submit" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
  
  </ul>
 </div>
</div>  
<div class="clear"></div>
<script>
 $(function () {
  $('#submit').click(function () {
   $.ajax({
    url: '/admin/categoryAAdd',
    type: 'POST',
    data: $('form').serialize(),
    success: function (res) {
     if(res.status == 0){
      location.href='/admin/categoryA';
     }else{
      alert(res.msg)
     }
    },
    error: function (err) {
     throw err;
    }
   })
  })
 })
</script>
<%- include footer.ejs %>