<%- include header.ejs %>
<%- include left_nav.ejs %>
 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>Project Progress</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/categoryAAdd" class="actionBtn add">Add New</a>Project Progress</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
            <th width="120" align="left">Project leader</th>
            <th align="left">Project name</th>
            <th align="left">Progress description</th>
          </tr>
            <% for(var i=0;i<categoryA.length;i++){ %>
              <tr>
                <td align="left"> <a href=""><%= categoryA[i].cat_name %></a></td>
                <td><%= categoryA[i].unique_id %></td>
                <td><%= categoryA[i].description %></td>
                <td align="center"><a href="/admin/ACedit/?_id=<%= categoryA[i]._id %>">Edit</a> | <a href="/admin/ACdelete/?_id=<%= categoryA[i]._id %>">Delete</a></td>
              </tr>
             <% } %>
      </table>
     </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
<%- include footer.ejs %>

