<%- include header.ejs %>
<%- include left_nav.ejs %>
<div id="dcMain">
  
 <div id="urHere">Management System<b>></b><strong>网站管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
  <h3><a href="/admin/manager" class="actionBtn">返回列表</a>网站管理员</h3>
  <form action="" method="post">
   <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <tr>
     <td width="100" align="right">管理员名称</td>
     <td>
      <input id="username" type="text" name="username" size="40" class="inpMain" value="<%= managers.username %>"/>
      <input id="_id" name="_id" type="hidden" value="<%= managers._id %>">
     </td>
    </tr>
    <tr>
     <td align="right">密码</td>
     <td>
      <input id="password" type="password" name="password" size="40" class="inpMain" value="<%= managers.password %>"/>
     </td>
    </tr>
    <tr>
     <td align="right">确认密码</td>
     <td>
      <input id="p_c" type="password" name="password_confirm" size="40" class="inpMain" value="<%= managers.password_confirm %>"/>
     </td>
    </tr>
    <tr>
     <td></td>
     <td>
      <input type="hidden" name="token" value="5a58b748" />
      <input id="submit" type="button" name="submit" class="btn" value="Submit" />
     </td>
    </tr>
   </table>
  </form>
 </div>
</div>
<div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
  West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>

<script>
 $(function () {
  $('#submit').click(function (e) {
   e.preventDefault();
   $.ajax({
    url: '/admin/Medit',
    type: 'POST',
    data: {
     _id:$("#_id").val(),
     password:$('#password').val(),
     username:$('#username').val(),
     p_c: $('#p_c').val()
    },
    success: function (res) {
     if(res.status == 0){
      alert(res.msg)
      location.href='/admin/manager';
     }else{
      alert(res.msg)
     }
    },
    error: function (err) {
     throw err;
    }
   })
  })
 })
</script>
<%- include footer.ejs %>