<%- include header.ejs %>
<%- include left_nav.ejs %>
 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>User Management</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="/admin/managerAdd" class="actionBtn">Add New</a>User Management</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="30" align="center">ID</th>
      <th align="left">Name</th>
      <th align="center">添加时间</th>
      <th align="center">操作</th>
     </tr>
     <% for(var i=0;i<managers.length;i++){ %>
         <tr>
          <td align="center"><%= i+1 %></td>
          <td><%= managers[i].username %></td>
          <td align="center"><%= managers[i].create_date %></td>
          <td align="center"><a href="/admin/Medit?_id=<%= managers[i]._id %>">编辑</a> | <a href="/admin/Mdelete?username=<%= managers[i].username %>">删除</a></td>
         </tr>
    <% } %>
         </table>
      </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
<%- include footer.ejs %>