<%- include header.ejs %>
<%- include left_nav.ejs %>
<div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>销售信息</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/admin/categoryP" class="actionBtn">销售信息</a>添加</h3>
    <form action="product_category.php?rec=insert" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">联系人</td>
       <td>
        <input id="cat_name" type="text" name="cat_name" value="<%= categoryP.cat_name %>" size="40" class="inpMain" />
        <input id="_id" name="_id" type="hidden" value="<%= categoryP._id %>">
       </td>
      </tr>
      <tr>
       <td align="right">客户量</td>
       <td>
        <input  id="unique_id" type="text" name="unique_id" value="<%= categoryP.unique_id %>" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">所属部门</td>
       <td>
        <textarea id="description" name="description" cols="60" rows="4" class="textArea"><%= categoryP.description %></textarea>
       </td>
      </tr>
      <tr>
       <td align="right">销售业绩</td>
       <td>
        <input  id="sort" type="text" name="sort" size="5" class="inpMain" value="<%= categoryP.sort %>"/>
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="b9439ae8" />
        <input type="hidden" name="cat_id" value="" />
        <input id="submit" name="submit" class="btn" type="button" value="Submit" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
  West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
<script>
 $(function () {
  $('#submit').click(function () {
   $.ajax({
    url: '/admin/PCedit',
    type: 'POST',
    data: {
     _id:$('#_id').val(),
     cat_name:$('#cat_name').val(),
     unique_id:$('#unique_id').val(),
     sort:$('#sort').val(),
     description: $('#description').val()
    },
    success: function (res) {
     if(res.status == 0){
      location.href='/admin/categoryP';
     }else{
      alert(res.msg)
     }
    },
    error: function (err) {
     throw err;
    }
   })
  })
 })
</script>
<%- include footer.ejs %>