<%- include header.ejs %>
<%- include left_nav.ejs %>

 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>销售管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/productsAdd" class="actionBtn add">添加客户</a>销售管理</h3>
    <div class="filter">
    <form method="post" id="sel-form">
     <select name="cat_id" id="sel">
         <option value="0" >未分类</option>
         <% for(var j=0;j<categoryP.length;j++){ %>
         <option  value='<%= categoryP[j]._id %>'><%= categoryP[j].cat_name %></option>
         <% } %>

     </select>
     <!--<input name="keyword" type="text" class="inpMain" value="" size="20" />-->
     <input  id="select"  class="btnGray" type="submit" value="筛选联系人">
    </form>
    </div>
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action" >
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic" id="table">
        <tr>
            <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
            <th width="40" align="center">编号</th>
            <th align="left">客户名称</th>
            <th width="80" align="center">联系人</th>
            <th width="80" align="center">跟进状态</th>
            <th width="80" align="center">订单量</th>
            <th width="200" align="center">添加日期</th>
            <th width="80" align="center">操作</th>
        </tr>
        <tbody id="wrap">
        <% for(var i=0;i<products.length;i++){ %>
        <tr class="info">
            <td align="center">
                <input type="checkbox" name="checkbox[]" value="" />
                <input id="_id" name="_id" type="hidden" value="<%= products[i]._id %>" />
            </td>
            <td><a href="article.php?rec=edit&id=10"><%= i+1 %></a></td>
            <td align="center"><%= products[i].name.title %></td>
            <td class="type" align="center"><a href=""><%= products[i].cat_id.cat_name %></a></td>
            <td align="center"><%= products[i].theState %></td>
            <td align="center"><%= products[i].num %></td>
            <td align="center"><%= products[i].create_date %></td>
            <td align="center">
                <!--<a href="/admin/Pedit/?_id=<%= products[i]._id %>">编辑</a> | -->
                <a href="/admin/Pdelete/?_id=<%= products[i]._id  %>">删除</a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <div class="action">
     <select name="action" onchange="douAction()">
      <option value="0">请选择...</option>
      <option value="del_all">删除</option>
      <option value="category_move">移动客户至</option>
     </select>
     <select id="MoveType" name="new_cat_id" style="display:none">
         <option value="0" >未分类</option>
         <% for(var j=0;j<categoryP.length;j++){ %>
         <option value='<%= categoryP[j]._id %>'><%= categoryP[j].cat_name %></option>
         <% } %>
     <input id="submit" name="submit" class="btn" type="button" value="run" />
    </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">

        <% for(k=0;k<(Math.ceil(n/5));k++){ %>
        <a href="/admin/products?start=<%= (k*5) %>">第<%= k+1 %>页</a>
        <% } %>
    </div>
     </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
<script type="text/javascript">

onload = function()
{
 document.forms['action'].reset();
}

function douAction()
{
 var frm = document.forms['action'];
 frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}

$(function () {
    $('#sel-form').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/admin/search',
            type: 'POST',
            data: {
                sel: $('#sel').val()
            },
            success: function(res){
                console.log(res.data)
                var str='';
                $.each(res.data,function(index,item){
                    console.log(item)
                    str+="<tr><td align='center'><input type='checkbox' name='checkbox[]' value='' /><input id='_id' name='_id' type='hidden' value="+item._id +"/></td> "+
                          "<td><a> "+(index+1)+ "</a></td> "+
                          "<td align='center'> "+item.name.title+ "</td> "+
                          "<td class='type'align='center'><a href=''> "+item.cat_id.cat_name+ "</a></td> "+
                          "<td align='center'> "+item.theState+ "</td> "+
                          "<td align='center'> "+item.num+ "</td> "+
                          "<td align='center'>"+ item.create_date+'</td>'+
                          "<td align='center'><a href='/admin/Pdelete/?_id= '+ res.data[index]._id>删除</a> </td></tr>"
                })
                $("#wrap").html(str);

                }
        })
    })

    $("#submit").click(function () {
        if ($('.action select').val() == "del_all") {
            let ids=$("#table .info input:checked").next();//得到每个选中框的兄弟元素input
            let arrID=[];
            let type=$("#MoveType").val();//得到要移动到的分类cat_id
            console.log("t:"+type)
            $.each(ids, function (index, item) {//对选中框进行遍历，得到它们的id
                arrID.push(item.value)
            })
            var strID = arrID.join(",");
            $.ajax({
                url: '/admin/AllDeleteP',
                type: 'POST',
                data: {
                    strID: strID
                },
                success: function (res) {
                    if(res.status == 0){
                        alert(res.msg)
                        location.href='/admin/products';
                    }else{
                        alert(res.msg)
                    }
                },
                error: function (err) {
                    throw err;
                }
            })

        }else if($('.action select').val() == "category_move"){
            let ids=$("#table .info input:checked").next();//得到每个选中框的兄弟元素input
            let arrID=[];
            let type=$("#MoveType").val();//得到要移动到的分类cat_id
            console.log("t:"+type)
            $.each(ids, function (index, item) {//对选中框进行遍历，得到它们的id
                arrID.push(item.value)
            })
            var strID = arrID.join(",");
            $.ajax({
                url: '/admin/MoveTypeP',
                type: 'POST',
                data: {
                    strID: strID,//选中框的_id
                    type:type//选择的分类
                },
                success: function (res) {
                    if(res.status == 0){
                        location.href='/admin/products';
                    }else{
                        alert(res.msg)
                    }
                },
                error: function (err) {
                    throw err;
                }
            })
        }
    })
})
</script>
<%- include footer.ejs %>
