<%- include header.ejs %>
<%- include left_nav.ejs %>

 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>销售管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/admin/products" class="actionBtn">销售管理</a>添加客户</h3>
    <form action="product.php?rec=insert" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="90" align="right">客户名称</td>
       <td>
           <select name="name">
               <option value="0">-请选择-</option>
               <% for(var i=0;i<articles.length;i++){ %>
               <option  value='<%= articles[i]._id %>'><%= articles[i].title %></option>
               <% } %>
           </select>
       </td>
      </tr>
      <tr>
       <td align="right">联系人</td>
       <td>
        <select name="cat_id">
            <option value="0">未分类</option>
            <% for(var j=0;j<categoryP.length;j++){ %>
            <option  value='<%= categoryP[j]._id %>'><%= categoryP[j].cat_name %></option>
            <% } %>

        </select>
       </td>
      </tr>
      <tr>
       <td align="right">商品价格</td>
       <td>
        <input type="text" name="price" value="0" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">跟踪状态</td>
       <td>
        <input type="text" name="theState" value="" size="50" class="inpMain" />
       </td>
      </tr>
     <tr>
         <td align="right">订单量</td>
         <td>
             <input type="text" name="num" value="0" size="40" class="inpMain" />
         </td>
     </tr>
      <tr>
       <td align="right">简单描述</td>
       <td>
        <input type="text" name="description" value="" size="50" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="21307217" />
        <input type="hidden" name="id" value="">
        <input id="submit" name="submit" class="btn" type="button" value="Submit" />
       </td>
      </tr>
     </table>
    </form>
           </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
     West Ham United Foundation Project
  </ul>
 </div>
</div>  
<div class="clear"></div> </div>
<script>
     $(function () {
        $('#submit').click(function () {
            $.ajax({
                url: '/admin/productsAdd',
                type: 'POST',
                data: $('form').serialize(),
                success: function (res) {
                    if(res.status == 0){
                        location.href='/admin/products';
                    }else{
                        alert(res.msg)
                    }
                },
                error: function (err) {
                    throw err;
                }
            })
        })
     })
</script>
<%- include footer.ejs %>
