<%- include header.ejs %>
<%- include left_nav.ejs %>

 <div id="dcMain">
    
<div id="urHere">Management System<b>></b><strong>Customer</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/categoryPAdd" class="actionBtn add">Add New</a>Customer</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="120" align="left">Contact person</th>
                <th align="left">Customer volume</th>
                <th align="left">Department</th>
                <th width="60" align="center">ToDo</th>
                <th width="80" align="center">Operate</th>
            </tr>
            <% for(var i=0;i<categoryP.length;i++){ %>
            <tr>
                <td align="left"> <a href=""><%= categoryP[i].cat_name %></a></td>
                <td><%= categoryP[i].unique_id %></td>
                <td><%= categoryP[i].description %></td>
                <td align="center"><%= categoryP[i].sort %></td>
                <td align="center"><a href="/admin/PCedit/?_id=<%= categoryP[i]._id %>">Edit</a> | <a href="/admin/PCdelete/?cat_name=<%= categoryP[i].cat_name %>">Delete</a></td>
            </tr>
            <% } %>
        </table>
</div>
</div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
    © 1895 - 2019 West Ham United Football Club
  </ul>
 </div>
</div>  
<div class="clear"></div>

<%- include footer.ejs %>